In [1]:
import pandas as pd

Abrimos la hoja de cálculo

In [2]:
xlsx = pd.ExcelFile('../data/Diccionario Palabras ODS.xlsx')

Estas son las hojas que hay. La que incluye las palabras es **ODS**

In [3]:
xlsx.sheet_names

['ODS', 'indicadores Baleares']

Creamos un dataframe con el contenido de la hoja **ODS**

In [4]:
df = pd.read_excel('../data/Diccionario Palabras ODS.xlsx', sheet_name='ODS')

In [5]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,ODS,ODS.1,PALABRAS,SOSTENIBILIDAD,Lista blanca de palabras,KPI,Observaciones
0,NaN,NaN,NaN,01 FIN DE POBREZA,1,ALIMENTOS ASEQUIBLES,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,1,CAMPAÑAS SOLIDARIAS,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,1,DONACIONES,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,1,EVENTOS BENÉFICOS,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,1,FIN DE LA POBREZA,NaN,NaN,NaN,NaN

Las columnas A-C están vacías.

In [6]:
df.drop(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)

In [7]:
df.head()

,ODS,ODS.1,PALABRAS,SOSTENIBILIDAD,Lista blanca de palabras,KPI,Observaciones
0,01 FIN DE POBREZA,1,ALIMENTOS ASEQUIBLES,NaN,NaN,NaN,NaN
1,NaN,1,CAMPAÑAS SOLIDARIAS,NaN,NaN,NaN,NaN
2,NaN,1,DONACIONES,NaN,NaN,NaN,NaN
3,NaN,1,EVENTOS BENÉFICOS,NaN,NaN,NaN,NaN
4,NaN,1,FIN DE LA POBREZA,NaN,NaN,NaN,NaN

La columna **ODS** contiene el nombre del ODS y la columna **ODS.1** el número. En la primera sólo aparece el nombre una vez. El resto de celdas están vacías.

Estos son los 17 ODS.

In [8]:
ods = df['ODS'].dropna().apply(lambda x: x[2:].strip())
ods.index = range(17)
ods

0                              FIN DE POBREZA
1                                 HAMBRE CERO
2                           SALUD Y BIENESTAR
3                        EDUCACION DE CALIDAD
4                          IGUALDAD DE GÉNERO
5               AGUA LIMPIA Y NO CONTAMINANTE
6         ENERGIA ASEQUIBLE Y NO CONTAMINANTE
7     TRABAJO DECENTE Y CRECIMIENTO ECONÓMICO
8                       INDUSTRIA, INNOVACION
9                     REDUCCION DESIGUALDADES
10                       CIUDADES SOSTENIBLES
11           PRODUCCIÓN Y CONSUMO RESPONSABLE
12                           CAMBIO CLIMÁTICO
13                             VIDA SUBMARINA
14             VIDA EN ECOSISTEMAS TERRESTRES
15       PAZ, JUSTICIA, INSTITUCIONES SOLIDAS
16                                   ALIANZAS
Name: ODS, dtype: object

In [9]:
pd.DataFrame(ods).to_feather('../data/ods')

**Lista de palabras por ODS**

In [10]:
pd.set_option('max_colwidth', 100)

In [11]:
df[['ODS.1', 'PALABRAS']].dropna().groupby('ODS.1')['PALABRAS'].apply(list)

ODS.1
1     [ALIMENTOS ASEQUIBLES, CAMPAÑAS SOLIDARIAS, DONACIONES, EVENTOS BENÉFICOS, FIN DE LA POBREZA, FU...
2     [AGRICULTURA ECOLÓGICA, AGRICULTURA SOSTENIBLE, ALIMENTOS ASEQUIBLES, DESPERDICIAR COMIDA, DONAC...
3     [ACCIDENTE LABORAL, ACTIVIDAD FÍSICA, ALIMENTOS ASEQUIBLES, ATENCIÓN MEDICA, BIENESTAR, BUENA SA...
4     [ACCESO A INTERNET, APRENDER, APRENDIZAJE, APRENDIZAJE DIGITAL, BECAS, COLEGIOS, EDUCACION, EDUC...
5     [CONDICIONES LABORABLES JUSTAS, CONTRATACION IGUALITARIA, CONCILIACION LABORAL, EMPODERAR, IGUAL...
6     [AGUA, AGUA LIMPIA, CONSUMO AGUA, DISPONIBILIDAD DE AGUA, GESTION DE AGUA SOSTENIBLE, REDUCIR CO...
7     [AHORRO ENERGETICO, DOMÓTICA, EFICIENCIA ENERGÉTICA, ENERGIA, ENERGIA ASEQUIBLE, ENERGÍA LIMPIA,...
8     [BECAS, CONTRATACION IGUALITARIA, CONCILIACION LABORAL, CREACION PUESTOS DE TRABAJO, CREATIVIDAD...
9     [CREATIVIDAD, ECONOMIA CIRCULAR, DIGITALIZACION, EFICIENCIA TRANSPORTE, FOMENTAR INNOVACION, IND...
10    [CRISIS HUMANITARIAS, DESIGUALDADES, EMPLEO INCLUSIVO, FUNDACIONES, INCLUSION SOCIAL, INDICE GIN...
11    [CIUDADES , CIUDADES SOSTENIBLES, CONCENTRACION NO2, CONCENTRACION 03, CONCENTRACION PM10, EDIFI...
12    [AHORRAR RECURSOS, AHORRO COSTES, CONSUMO, CONSUMO LOCAL, CONSUMO RESPONSABLE, CONSUMO SOSTENIBL...
13    [AHORRO ENERGIA, ANDAR, CAMBIO CLIMATICO, CLIMA, EMISIONES CO2, ISO 14001, PRODUCTOS LOCALES, RE...
14    [CONSERVACION MARINA, CONTAMINACION MARINA, COSTA PROTEGIDA, DPMT, IMPACTO AMBIENTAL, ISO 14001,...
15    [BOSQUES, CATÁSTROFE NATURAL, CONSERVACION, DEGRADACIÓN DE TIERRAS, DESERTIFICACIÓN, DIVERSIDAD ...
16    [ACCESO A LA JUSTICIA, ANTI-CORRUPCION, ASESINATOS, AUDITORIAS, CANAL DENUNCIAS, CODIGO CONDUCTA...
17                                      [ALIANZA MUNDIAL, ALIANZAS, ASOCIACIONES, CNMC, FUNDACIONES, ITA]
Name: PALABRAS, dtype: object

In [12]:
df.to_feather('../data/diccionario_palabras_ods')

In [13]:
words_list = df[['ODS', 'PALABRAS']][df['PALABRAS'].notna()].fillna(' ')
words_list.head()

                 ODS              PALABRAS
0  01 FIN DE POBREZA  ALIMENTOS ASEQUIBLES
1                      CAMPAÑAS SOLIDARIAS
2                               DONACIONES
3                        EVENTOS BENÉFICOS
4                        FIN DE LA POBREZA

In [14]:
with open('../doc/words_list.md', 'w') as f:
    f.write(words_list.to_markdown())