Calculamos la cantidad de ODS por usuario

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
tweets_es = pd.read_feather('../data/tweets_es')
tweets_es.head()

,index,id_tweet,id_tweet_orig,id_usuario,nom_usuario,nom_completo_usuario,desc_usuario,id_usuario_orig,nom_usuario_orig,nom_completo_usuario_orig,...,tw_idioma_orig,tw_ubicacion,tw_ubicacion_orig,tw_horacreacion,tw_horacreacion_orig,tw_retwitteadopor,tw_twitteadopor,tw_recuento_rt,tw_recuento_rt_orig,texto
0,6,1212166614298382338,1212008063357591552,439478451,laxa_lazaro,Lázaro,|Est. Lic. en Gestión Ambiental y Desarrollo S...,1207404804714176513,red_promotores,Red Internacional de Promotores ODS,...,es,Zárate Bs As,,2020-01-01T00:20:16.000Z,2019-12-31T13:50:14.000Z,laxa_lazaro,red_promotores,9,9,#promotoresods les desea feliz año. Nuestro lu...
1,7,1212166784696176640,1211675170907283457,106864114,licitacivil,licitacivil,Estudio de ingeniería y consultoría. Redacción...,4612694243,pavitek_es,Pavitek,...,es,Andalucía-Murcia,,2020-01-01T00:20:57.000Z,2019-12-30T15:47:27.000Z,licitacivil,pavitek_es,3,3,Aplicación de un riego de agua depurada con en...
2,8,1212167010588774400,1211654521811812352,1038889645952704513,accion2030,Acción 2030,"ACCIÓN 2030 ideas en movimiento, programa pilo...",918482978568900608,desafio2030,Desafio2030,...,es,Desde Chile para el Mundo,Chile,2020-01-01T00:21:50.000Z,2019-12-30T14:25:24.000Z,accion2030,desafio2030,12,12,??Es lunes de estreno ????????\nLos esperamos ...
3,9,1212168110553411584,1212102625048629248,4830621921,2018maxabel,Max Paredes,,240447091,pnud,ONU Desarrollo,...,es,Ecuador,,2020-01-01T00:26:13.000Z,2019-12-31T20:06:00.000Z,2018maxabel,pnud,29,29,A una década para cumplir con los objetivos de...
4,10,1212168154266382336,1211604376776773633,1052169736270823424,SimarroEugenia,Maria Eugenia Simarro Ossorio,Directora General de Organización y Recursos FEMP,145286901,fempcomunica,FEMP,...,es,,Madrid,2020-01-01T00:26:23.000Z,2019-12-30T11:06:08.000Z,SimarroEugenia,fempcomunica,1,1,???Nº 329\n??#HomenajeAlMunicipalismo en el @S...

In [3]:
tweets_es = pd.read_feather('../data/tweets_es')

In [4]:
tweets_es[['index','nom_completo_usuario']]

       index           nom_completo_usuario
0          6                         Lázaro
1          7                    licitacivil
2          8                    Acción 2030
3          9                    Max Paredes
4         10  Maria Eugenia Simarro Ossorio
...      ...                            ...
25360  43690                           CAAR
25361  43693                      Bea López
25362  43694                       Nottopic
25363  43695              EU-LAC Foundation
25364  43696                        PLANNTA

[25365 rows x 2 columns]

In [5]:
tweets_ods = pd.read_feather('../data/tweets_ods')
tweets_ods

,text,index,ODS_1,ODS_2,ODS_3,ODS_4,ODS_5,ODS_6,ODS_7,ODS_8,ODS_9,ODS_10,ODS_11,ODS_12,ODS_13,ODS_14,ODS_15,ODS_16,ODS_17
0,promotoresods desear feliz año necesitar esper...,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,aplicación regar aguar depurar enzima natural ...,7,0,1,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0
2,lunes estrenar esperar 19:30 _ 13c viajar para...,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,década cumplir objetivo agenda2030 preparar en...,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,nº 329 homenaje municipalismo 40añosdedemocrac...,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25360,documento cepal examinar tendencia económico s...,43690,1,1,1,1,1,0,0,1,1,1,0,1,0,0,1,1,0
25361,ámsterdam demostrar quimera salir entrar crisi...,43693,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25362,aprovecha confinamiento blog encontrar 40 artí...,43694,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
25363,pilar mandato fundación promover debatir ue al...,43695,0,0,0,1,0,0,0,1,1,1,0,1,0,0,0,1,0
25364,casa valle imperial proyectar integración tecn...,43696,0,0,1,0,0,0,0,1,1,0,1,1,0,0,1,0,0

In [6]:
usuario_ods = pd.DataFrame([])

In [7]:
usuario_ods['usuario'] = tweets_es['nom_completo_usuario']

In [8]:
usuario_ods['num_ods'] = tweets_ods.iloc[:, 2:].dropna().apply(sum, axis=1)

In [9]:
usuario_ods.head()

                         usuario  num_ods
0                         Lázaro        0
1                    licitacivil        6
2                    Acción 2030        0
3                    Max Paredes        0
4  Maria Eugenia Simarro Ossorio        0

In [10]:
grouped = usuario_ods.groupby('usuario').sum()
grouped.head()

                                               num_ods
usuario
!! AZACOLAS, QUE LA VUERCAS!!                        6
"Si Chile vence, el mundo cambia" Rita Segato        7
#Agua&Vida                                           6
#AricAhmedWorld                                      0
#BIM NETWORK EVENTS #BIMNetwork                      3

In [11]:
grouped.sort_values('num_ods', ascending=False, inplace=True)
grouped

                             num_ods
usuario
Corresponsables                 1510
SGK-PLANET-es                   1414
ecointeligencia                 1086
GENTE QUE CONSTRUYE              574
ConstruGuia Vzla.                476
...                              ...
Gent de Massanassa                 0
Picheleiro Disonante               0
Pi ??                              0
Photoviajando                      0
José Ramón Destrades Osoria        0

[15589 rows x 1 columns]